/* === Generic Styling === */
:root {
    --primary-color: #0d47a1;
    --secondary-color: #311b92;
    --third-color: #6a16d6;
    font-family: 'Montserrat', sans-serif;
}

nav a.sidenav-trigger {
    cursor: pointer;
    display: block;
}

a {
    cursor: pointer;
}

button {
    width: 100%;
}


/* === ID & Class Specifc Styling === */
/* Alert Messages */
#successmessage {
    display: none;
    background-color: #38af3c;
}

#errormessage {
    display: none;
    background-color: #ff0e0e;
}

.brand-logo {
    height: 2.4em;
    width: 2.1em;
}

#menu_icon {
    cursor: pointer;
    font-size: 2.5em;
    padding-left: 0.1em;
}

#login_icon {
    font-size: 2.5em;
    padding-right: 0.3em;
}

#user_icon {
    display: none;
    font-size: 2.6em;
    padding-right: 0.3em;
    padding-top: 0.1em;
}

#editprof_icon {
    display: none;
}

#myevents_icon {
    display: none;
}

#logout_icon {
    display: none;
}

.material-icons {
    color: black;
    font-size: 28px;
}

.menu_link {
    display: none;
}

.btn-floating.btn-large.halfway-fab {
    bottom: 0.8em;
}

/* Pagination Styles - Clean */
.clean {
    background: none;
    box-shadow: none;
}

.breadcrumb {
    color: rgba(0, 0, 0, 1);
}

.breadcrumb:before {
    color: rgba(0, 0, 0, 0.7);
}

.breadcrumb:last-child {
    color: rgba(0, 0, 0, 0.7);
}


/* Admin Access Rights Option */
#access_rights {
    display: none;
}

/* = Google Maps Styling = */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
    /* width: 10em; */
}

/* Optional: Makes the sample page fill the window. */
/* html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

.custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
}

.custom-map-control-button:hover {
    background: #ebebeb;
}


#prof_pic {
    height: 6em;
}