/* === Generic Styling === */
:root {
    --primary-color: #0d47a1;
    --secondary-color: #311b92;
    --third-color: #6a16d6;
    font-family: 'Montserrat', sans-serif;
}

nav a.sidenav-trigger {
    display: block;
}


/* === ID & Class Specifc Styling === */

.brand-logo {
    height: 2.4em;
    width: 2.1em;
}

#menu_icon {
    font-size: 3.2em;
    padding-left: 0.1em;
}

#login_icon {
    font-size: 3.2em;
    padding-right: 0.3em;
}

.material-icons {
    color: black;
    font-size: 28px;
}